services:
  - type: web
    name: spam_email_classifier
    env: python
    buildCommand: |
      pip install -r requirements.txt
      python -m nltk.downloader punkt stopwords
    startCommand: gunicorn webapp.webapp.wsgi:application
