services:
  - type: web
    name: spam_email_classifier
    env: python
    buildCommand: |
      pip install -r requirements.txt
      mkdir -p /opt/render/nltk_data
      python - <<EOF
      import nltk
      nltk.download("punkt", download_dir="/opt/render/nltk_data")
      nltk.download("stopwords", download_dir="/opt/render/nltk_data")
      EOF
    startCommand: gunicorn webapp.webapp.wsgi:application --workers 1 --threads 1 --timeout 120
